In [29]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

In [30]:
filename = "sample_data.csv"

data = pd.read_csv(filename)

In [31]:
# StandardScaler example
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=data.columns)

scaled_data

           Age  Annual Income ($)  Spending Score (1-100)
0    -1.054089          -2.093501               -0.428339
1    -0.983723          -1.656133                1.075546
2    -1.018906          -0.540845               -1.609962
3    -0.913356          -1.131292                0.932319
4    -0.631891          -1.590528               -0.392532
...        ...                ...                     ...
1995  0.775438           1.610720               -0.392532
1996  1.479103          -0.821679               -0.678986
1997  1.338370          -0.432356               -1.323508
1998  0.986538           1.560904               -1.681576
1999  1.443919          -0.002664                0.037150

[2000 rows x 3 columns]

In [32]:
scaled_data.to_csv("scaled_"+filename,index=False)